---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<div class="flex columns-2 p-8 items-center justify-between">
		<h2>
			{SITE_TITLE}
		</h2>
		<nav class="flex flex-row justify-end">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://twitter.com/jdeleon12" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
		</nav>
	</div>
	
</header>
<style>	
</style>
