<section class="p-10 bg-slate-50 w-full">
    <div class="grid grid-cols-2 gap-6">
        <img src="./src/img/yan.jpeg" alt="" class="rounded shadow-xl box-border">
        <div class="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident expedita cumque obcaecati aspernatur, ipsum ex nostrum illum debitis quod aut. Vitae itaque ipsa distinctio molestiae tenetur perspiciatis, magni accusamus expedita.</p>
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        overflow: visible;
    }
</style>